page {
  background-color: #f2f2f2;
  padding-bottom: 158rpx;
}

// 底部按钮区域
.btn {
  height: 158rpx;
  background: #ffffff;
  box-shadow: 0 0 20rpx 0 rgba(153, 153, 153, 0.2);
  padding: 30rpx;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 32rpx;
  color: #fff;
  .item {
    width: 336rpx;
    height: 98rpx;
    background-color: #fff;
    text-align: center;
    line-height: 100rpx;
    background-color: #0090ff;
    border-radius: 8rpx;
  }
  & view:nth-child(1) {
    background: #cccccc;
    margin-right: 18rpx;
  }
}

// 点击取消按钮弹出的弹出层样式开始-----------------
.isRuleShow {
  display: block;
}

.isRuleHide {
  display: none;
}

.float {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  top: 0;
  left: 0;
  .floatContent {
    width: 536rpx;
    height: 527rpx;
    background: #fff;
    /* 控制弹出框在中间显示 */
    margin: 40% auto;
    border-radius: 10rpx;
    /* 控制弹出框的标题 */
    .title {
      font-size: 36rpx;
      color: #111;
      padding: 64rpx 58rpx 20rpx;
    }
    /* 标题与正文之间的横线 */
    .lineShort {
      margin-left: 58rpx;
      width: 47rpx;
      height: 3rpx;
      background: #111111;
    }
    .content {
      height: 122rpx;
      font-size: 28rpx;
      line-height: 40rpx;
      color: #333;
      padding: 32rpx 58rpx 44rpx;
      margin-bottom: 100rpx;
    }
    /* 线段 */
    .line {
      border: 1rpx solid #d7d7d7;
    }
    .btn1 {
      height: 87rpx;
      line-height: 87rpx;
      display: flex;
      .button {
        width: 50%;
        text-align: center;
        line-height: 100rpx;
        color: #0090ff;
      }
      .confirm {
        color: #999;
        font-size: 32rpx;
      }
      /* 按钮之间的横线 */
      .shortLine {
        margin-top: 32rpx;
        width: 1rpx;
        height: 38rpx;
        background: #d7d7d7;
      }
    }
  }
}
