.main {
  padding: 30rpx;
  .item {
    margin-bottom: 60rpx;
    .title {
      display: flex;
      // 垂直居中
      align-items: center;
      margin-bottom: 20rpx;
      .image {
        height: 24rpx;
        width: 24rpx;
      }
      .word {
        margin-left: 20rpx;
        font-size: 30rpx;
        color: #111;
      }
    }
    .content {
      margin-left: 40rpx;
      .content-item {
        font-size: 26rpx;
        font-weight: 400;
        color: #333;
      }
    }
  }
}
