.main {
  height: 490rpx;
  background-color: #fff;
  padding: 20rpx;
  margin-bottom: 10rpx;
  .main-item {
    display: flex;
    justify-content: space-between;
    margin: 30rpx 0;
  }
  .title {
    margin: 0;
    .get {
      color: #1993fc;
    }
  }
  // 线段
  .line {
    border: 1rpx solid #ccc;
  }
  .info {
    display: flex;
    flex-direction: column;
    .content {
      font-size: 24rpx;
      color: #666;
    }
  }
  .materials {
    display: flex;
    flex-direction: column;
    .con {
      display: flex;
      justify-content: space-between;
      margin-top: 20rpx;
    }
  }
  .price {
    display: flex;
    justify-content: flex-end;
    color: red;
    margin-top: 20rpx;
  }
}
